/*  
Author:
Date: 
Version:
Requester:
Objective:

*/

/* Change body background to lightblue*/
body{
    background-color: lightblue;
}

/* Change section background to orange, requested by Kat*/
section{
    background-color: orange;
}

#testimonials{
    background-color:greenyellow;
}

p{
    background-color: crimson;
}

.paragraph1{
    background-color: yellow;
    text-indent: 10px;
}